{% assign cir = site.data.data.cir %}
{% if cir %}
<div class="encart">
      <h5><a href="https://www.finovup.fr/blog/avantages-du-recrutement-jeune-docteur-cir/"><span class="iconify" data-icon="octicon-link" data-inline="true"></span>Crédit Impôt Recherche Jeune Docteur </a></h5>
      Mon premier CDI sera éligible au crédit impôt recherche jeune docteur. <br> 
      
      Il permet à mon premier employeur de faire passer tout ou partie de mon coût salarial en CIR. <br>
      Je peux proposer plusieurs sujets de R&D permettant d'utiliser cet avantage fiscal. Un sujet intéressant pour les entreprises pourrait être les différences entre les modèles prédictifs et les modèles causaux, ainsi que les problématiques associées telles que l’explicabilité des modèles prédictifs. 
</div>
{% endif %}